<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
   
      <meta charset="UTF-8"/>
      <title>Tag List</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Reference Bootstrap files -->
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
   	 <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Tagit</a>
            </div>
            <ul class="nav navbar-nav">
               <li ><a th:href="@{/tagform}">Tag Form</a></li>
               <li><a th:href="@{/showtags}">All Tags</a></li>
               <li><a th:href="@{/showassignedtags}">Assigned Tags</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <div sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/systems/}"><span class="glyphicon glyphicon-user"><input class="btn btn-dark" type="submit"  value="Admin" /></span> </a></div>
               </li>
               <li>
                  <a >
                     <span ></span>
                     <form class="glyphicon glyphicon-log-in" th:action="@{/logout}" method="POST"><input class="btn btn-dark" type="submit"  value="Logout" /></form>
                  </a>
               </li>
            </ul>
         </div>
      </nav>
      <div>
     <div id="loginbox" style="margin-top: 50px;"
         class="mainbox col-md-6 col-md-offset-2 col-sm-9 col-sm-offset-2">
         <div class="panel panel-primary">
            <div class="panel-heading">
         <div class="panel-title text-center" ><h3>List of Tags</h3></div>
      </div>
      <div class="table-responsive">
      <table class="table table-borderless">
         <tr>
            <th>id</th>
            <th>TagId</th>
            <th>Description</th>
            <th>Status</th>
            <th>Check</th>
            <th>Action</th>
         </tr>
         <tr th:each=" ttag : ${assign}">
                   <th:block th:if="${ttag.status}">
            <td th:text="${ttag.id}"></td>
            <td th:text="${ttag.tagId}"></td>
            <td th:text="${ttag.description}"></td>
            <td><div th:switch="${ttag.status}">
             <p th:case="'true'" class="text-success"><strong>Open</strong></p>
             <p th:case="'false'" class="text-danger"><strong>Closed</strong></p>
			</td>
            <td><a th:href="@{/showdetails(id=${ttag.tagId})}" >Show</a></td>
            <td><a th:href="@{/detag(id=${ttag.tagId})}" >DeTag</a>
         </th:block></tr>
      </table></div>
          </div></div></div>
   </body>
</html>