<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
   <head>
      <title>luv2code Company Home Page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
               <li class="active"><a th:href="@{/tagform}">Tag Form</a></li>
               <li><a th:href="@{/showtags}">All Tags</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <div sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/systems}"><span class="glyphicon glyphicon-user"><input class="btn btn-dark" type="submit"  value="Admin" /></span> </a></div>
               </li>
               <li>
                  <a >
                     <span ></span>
                     <form class="glyphicon glyphicon-log-in" th:action="@{/logout}" method="POST"><input class="btn btn-dark" type="submit"  value="Logout" /></form>
                  </a>
               </li>
            </ul>
         </div>
      </nav>
      <h2>luv2code Company Home Page</h2>
      <hr>
      <p>
         Welcome to the luv2code company home page!
      </p>
      <hr>
      <!-- display user name and role -->
      <div>
         User: <span sec:authentication="name"></span>
         <br><br>
         Role(s): <span sec:authentication="principal.authorities"></span>
         <br><br>
         <!-- Check for login error -->																	
         <div th:if="${session.user}" >
            <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
         </div>
      </div>
      <div sec:authorize="hasRole('ROLE_MANAGER')">
         <!-- Add a link to point to /leaders ... this is for the managers -->
         <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
         </p>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
         <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admin peeps)
         </p>
      </div>
   </body>
</html>